{% extends 'base.html' %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="card mt-5">
            <div class="card-header text-end">
                      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Importar</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <form method="post" enctype="multipart/form-data">
                              <div class="modal-body">
                                  {% csrf_token %}
                                  {{ form.as_p }}                     
                              </div> 
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                <button type="submit"  class="btn text-white" style="background-color: #3C5575;">Cargar</button>
                              </div>
                            </form>   
                          </div>
                        </div>
                      </div>

                      <button class="btn text-white" style="background-color: #3C5575;" data-bs-toggle="modal" data-bs-target="#exampleModal">Importar</button>
            </div>
            <div class="card-body">
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Curso</th>
                        <th scope="col">Sede</th>
                        <th scope="col">Certificado</th>
                      </tr>
                    </thead>
                    <tbody>
                     {% for dato in data %}
                          <tr>
                            <th scope="row">{{ dato.row }}</th>
                            <td>{{ dato.Nombre }}</td>
                            <td>{{ dato.Apellido }}</td>
                            <td>{{ dato.Curso }}</td>
                            <td>{{ dato.Sede }}</td>
                            <td><a type="button" href="{% url 'pdf' data=dato datos=data %}" class="btn text-white" style="background-color: #3C5575;" target="_blank">Generar</a></td>
                          </tr>
                      {%  endfor %}
                    </tbody>
                  </table>
            </div>
            <div class="card-footer text-end">
                {% if data %}
                    <a type="button" href="{% url 'allPdf' datos=data %}" class="btn text-white" target="_blank" style="background-color: #3C5575;">Generar Todo</a>
                {% else %}
                    <a type="button" href="#" class="btn text-white disabled" style="background-color: #3C5575;" target="_blank">Generar Todo</a>
                {%  endif %}
            </div>
          </div>
          <p><a href="../static/docs/aulaTaller_Original.xlsx">Descargar Formato</a></p>
        </div>
      </div>
    </div>

{% endblock %}