{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
              {% if request.user.username == 'Caruhe' %}
              <form method="post" enctype="multipart/form-data">
                  <div class="modal-body">
                      {% csrf_token %}
                      {{ form.as_p }}
                    <button type="submit"  class="btn text-white" style="background-color: #3C5575;">Cambiar Sede</button>
                  </div>
              </form>
{#                  Sede seleccionada: {{ traeu }}#}
              {% endif %}
            </div>
            <div class="col-12 mt-4">
                <ol class="list-group list-group">
{#                  {{ traeu }}#}
                  {% for archivo in archivos %}
                    <li class="list-group-item d-flex justify-content-between align-items-start"> 
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ archivo.sede }}</div>
                        {{ archivo.timestamp }}
                      </div>
                      <span class="badge bg-primary rounded-pill"><a  class="link-light" href="certificado/static/docs/{{ archivo.archivo }}"><span class="material-icons">
                        arrow_downward 
                        </span></a></span>
                    </li>
                  {% endfor %} 
                  </ol>
            </div>                    
        </div>
    </div>

{% endblock %}