{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <select class="form-select mt-4" aria-label="Default select example">
                    <option selected>Selecione una Sede</option>
                    <option value="1">Carhue</option>
                    <option value="2">Trenque Lauquen</option>
                    <option value="3">Olavarría</option>
                    <option value="3">General Roca</option>
                    <option value="3">G. Pico</option>
                    <option value="3">Mar del Plata</option>
                    <option value="3">Daireaux</option>
                    <option value="3">Coronel Suarez</option>
                    <option value="3">Pehuajo</option>
                    <option value="3">Tres Lomas</option>
                    <option value="3">Villa Regina</option>
                  </select>
            </div>
            <div class="col-12 mt-4">
                <ol class="list-group list-group">
                  {% for archivo in archivos %}
                    <li class="list-group-item d-flex justify-content-between align-items-start"> 
                      <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ archivo.sede }}</div>
                        {{ archivo.timestamp }}
                      </div>
                      <span class="badge bg-primary rounded-pill"><a  class="link-light" href="certificado/static/docs/{{ archivo.archivo }}"><span class="material-icons">
                        arrow_downward 
                        </span></a></span>
                    </li>
                  {% endfor %} 
                  </ol>
            </div>                    
        </div>
    </div>

{% endblock %}